<div class="body">
<div>
  <%= flash[:notice] %>
</div>
<div class="show">
<div class="size">
<p class="mar"><strong>Title:</strong><%= @book.title %>
</p>

<p class="mar"><strong>Body:</strong><%= @book.body %></p></div>
<div class="color"><%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "Back", "/books" %></div>
</div>
</div>